<!-- will only render this view if signed in -->


<!-- <div class="commenter"> -->
<!-- <img class="avatar avatar-thumb" src="<%= Picscasa.CURRENT_AVATAR_THUMB %>"> -->
<!-- <p><%= Picscasa.CURRENT_USER_NAME %></p> -->
<!-- </div> -->

<form class="new-comment-form">

  <input type="hidden" name="comment[photo_id]" value=<%= photo.id %>>

  <div class="input">
  <textarea placeholder="Add a comment..." name="comment[body]"></textarea>
  </div>

  <!-- TODO only show on focus and add cancel button - like google+ -->
  <button>Add Comment</button>


</form>



