<form class="edit-caption-form">

  <div class="input">
  <textarea name="photo[caption]"><%= photo.escape("caption") %></textarea>
  </div>

  <div class="submit">
  <input type="submit" value="Save">
  </div>
</form>