<form class="edit-tags-form">
  <div class="input">
  <input type="text" name="photo[tag_list]" value="<%= photo.escape("tag_list") %>">
  </div>
  <div class="submit">
  <input type="submit" value="Save">
  </div>
</form>