<form class="edit-caption-form">

  <div class="input">
  <textarea id="caption-input" name="photo[caption]"><%= photo.escape("caption") %></textarea>
  </div>

  <!-- <div class="submit">
  <input type="submit" value="Save">
  </div> -->
</form>

<script>
$(document).ready(function() {
  $(".caption").addClass("caption-open");

  $("#caption-input").focus();

  $('#caption-input').bind('keydown', function(e) {
      e.stopPropagation();
  });
})

</script>