<h1>My Photos</h1>


<!-- this will be reused in album photo index 
- maybe move out to new view or template  -->
<ul class="pictures-index">
<% photos.forEach(function(photo){ %>
  <li>
     <figure class="photo-tile">

      <a href="#/photos/<%= photo.id %>">

        <img class="photo-thumb" src="<%= photo.get("thumb_url")%>">
      </a>
      
      <figcaption>
        <% if (Picscasa.helpers.canEdit(photo)) { %>
          <button class="delete-photo">delete</button>
        <% } %>
      </figcaption>



    </figure>
    </li>

<% }) %>
</ul>