
 <figure class="photo-tile">

  <a href="#/photos/<%= photo.id %>">

    <img class="photo-thumb" src="<%= photo.get("thumb_url")%>">
  </a>

  <figcaption>
    <% if (Picscasa.helpers.canEdit(photo)) { %>
      <button class="delete-photo"><i class="fa fa-trash-o strong"></i></button>
    <% } %>
  </figcaption>



  </figure>
