<div id="displayed-caption">
<%= photo.escape("caption") %>
<% if (Picscasa.helpers.canEdit(photo)) { %>
  <a id="edit-caption" href="#"><%= photo.escape("caption") ? "" : "Add a Caption" %></a>
<% }; %>
</div>