

<% if (Picscasa.helpers.canEdit(photo)) { %>
  <% photo.get("tags").forEach(function(tag) { %>
  <span class="tag"><a href="#/tags/<%= tag %>"><i class="fa fa-tag"></i> <%= tag %></a></span>
  <% }); %>
  <span class="tag edit-tag"><a id="edit-tags" href="#">+ <i class="fa fa-tags"></i></a></span>

<% } else {%>
  <% photo.get("tags").forEach(function(tag) { %>
    <span class="tag"><i class="fa fa-tags"></i> <%= tag %></span>
  <% }); %>
<% }; %>