<i class="fa fa-tags"></i>

<% if (Picscasa.helpers.canEdit(photo)) { %>
  <% photo.get("tags").forEach(function(tag) { %>
  <a href="#/tags/<%= tag %>"><%= tag %></a>
  <% }); %>
  <a id="edit-tags" href="#">Edit Tags</a>

<% } else {%>
  <% photo.get("tags").forEach(function(tag) { %>
    <%= tag.name %>
  <% }); %>
<% }; %>