<h1>Notifications</h1>

<h2>New Notifications:</h2>

<ul class="new-notification-list">
  <% @notifications.each do |notification| %>
  <strong><%= render 'notification', notification: notification %></strong>
  <% end %>
</ul>

<hr>

<h2>Previous Notifications:</h2>

<ul class="old-notification-list">
  <% @old_notifications.each do |notification| %>
  <%= render 'notification', notification: notification %>
  <% end %>
</ul>