<div class="public-user-info">
<img class="avatar avatar-thumb" src="<%= @user.avatar.url(:thumb) %>">
<h2><%= @user.name %></h2>
</div>

<h1>
<%= @user == current_user ? "My" : "#{@user.name}'s" %> Public Album's
</h1>

<%= render 'shared/albums', albums: @albums %>