<ul class="pictures-index">
<% photos.each do |photo| %>
  <li>
     <figure class="photo-tile">
       
      <a href="<%= params[:auth_token] ? photo_url(photo, auth_token: params[:auth_token]) : photo_url(photo) %>">
   
        <img class="photo-thumb" src="<%= photo.image.url(:thumb) %>">
      </a>
      
      <figcaption>
        <% if photo.album.owner == current_user %>
        <form action="<%= photo_url(photo) %>" method="post">
          <%= auth_token_input %>
          <input type="hidden" name="_method" value="delete">
          <input type="submit" value="delete">
        </form>
        <% end %>
      </figcaption>
    
    
    
    </figure>
    
    
    
  </li>
<% end %>

</ul>