<ul class="pictures">
<% photos.each do |photo| %>
  <li>
    <a href="<%= params[:auth_token] ? photo_url(photo, auth_token: params[:auth_token]) : photo_url(photo) %>">
      <img src="<%= photo.image.url(:thumb) %>">
    </a>
  </li>
<% end %>
</ul>