<h1>Upload Photos to <%= @album.title %></h1>

<h2>Upload here!</h2>
<form action="<%= album_photos_url(@album) %>" method="post" enctype="multipart/form-data">
  <%= auth_token_input %>

  <!-- <input type="file" id="post_image" name="post[image]" multiple="true" /> -->
  <input type="file" id="photo_images" name="photo[images][]" accept="image/png,image/gif,image/jpeg" multiple="true" />

  <input type="submit" value="Upload Photos!">
</form>