/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESETS */
html, body, header, nav, section, main, h1, h2, ul, li, p, a, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: sans-serif;
  background-color: rgb(229, 229, 229)
}

ul {
  list-style: none;
}

a:visited {
  color: inherit;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}


/* using this for all headings - may be dangerous */
h1 {
  font-size: 50px;
  text-align: center;
  padding: 15px;
}

/* BUTTON RESET */
button,
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
 display: inline;
 -webkit-appearance: none;
 box-sizing: content-box;
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 width: auto;
 font: inherit;
 vertical-align: baseline;
 background: transparent;
 color: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
}

main {
  max-width: 800px;
  margin: auto;
}

.avatar {
  border-radius: 50%;
}

/* NAV BAR */
nav {
  background: white;
}

/* TOP NAV BAR */
.top-nav-container {
  background: white;
  /*max-width: 900px;*/
  margin: auto;
}

.top-nav-container .logo {
  float: left;
  padding: 0 0 0 20px;
}

.top-nav-container .logo a {
  text-decoration: none;
  color: red;
}



.top-nav-container .top-right-nav {
  float: right;
  color: rgb(127, 127, 127)
}

/* Notification dopdown */

.top-nav-container > ul > li > a:hover .badge {
  background: red;
}

.top-nav-container .badge {
  background: black;
  width: 15px;
  height: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

nav .notif-dropdown {
  position: absolute;
  display: none;
}

nav .notif-dropdown {
  border: 3px solid black;
  border-bottom: 0;
  width: 300px;
  margin-left: -3px;
}

nav .notif-dropdown > li {
  padding: 5px;
  border-bottom: 3px solid black;
  background: white;
}

nav .notif-dropdown > li:nth-child(even) {
  background: #ddd;
}

.top-nav-container > ul > li:hover .notif-dropdown {
  display: block;
}

/* Avatar and dropdown */

.nav-avatar {
  width: 50px;
  padding: 10px;
  cursor: pointer;
}

.user-dropdown .user-dropdown-items {
  display: none;
  position: absolute;
  right: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.user-dropdown-items > li {
  padding: 5px;
  text-align: right;
  background: white;
}

.user-dropdown-items > li a {
  text-decoration: none;
  padding: 0;
}
.user-dropdown-items > li a:hover {
  text-decoration: none;
}

.top-right-nav > li {
  float: left;
}

.top-right-nav > li > a {
  display: block;
  text-decoration: none;
  color: #262626;
  padding: 15px;
}

.user-dropdown:hover .user-dropdown-items {
  display: block;
}

/*.top-nav-container .top-right-nav a:hover {
  text-decoration: underline;
}*/

/* BOTTOM NAV */

.bottom-nav-container {
  margin: auto;
  background: rgb(245, 245, 245);
  text-align: center;
}

.bottom-nav-container h1 {
  display: block;
  font-size: 20px;
  color: red;
  padding: 15px;
}

.bottom-nav-container a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(127, 127, 127);
}



.bottom-nav-container .middle-nav {
  display: inline-block;
  vertical-align: top;
  margin: auto;
}


.bottom-nav-container .middle-nav {
  margin: auto;
}
.bottom-nav-container .middle-nav li {
  float: left;
}


.bottom-nav-container > ul > li > a:hover {
  color: rgb(38, 38, 38);
}



/* FORMS */

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
  border: 1px solid black;
  padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 1px solid green;
}


/* albums index view */
.albums-index {
  width: 705px;
  margin: auto;
}

.album-tile {
  float: left;
  padding: 15px;
  border-radius: 3px;
  position: relative;
}

.album-thumb {
  position: relative;
  width: 205px;
  background: white;
  display: block;
  height: 205px;
  margin: auto;
  box-shadow: 0px 0px 2px 2px #ccc;
  z-index: 999;
}

.album-tile figcaption {
  position: absolute;
  background: white;
  width: 185px;
  height: 48px;
  padding: 10px;
  z-index: 1000;
  bottom: 15px;
  border-top: 1px solid #eee;
}

/* picture index view */

.pictures-index {
  width: 705px;
  margin: auto;
}

.photo-thumb {
  position: relative;
  width: 205px;
  background: white;
  display: block;
  height: 205px;
  margin: auto;
  box-shadow: 0px 0px 2px 2px #ccc;
}

.photo-tile {
  float: left;
  padding: 15px;
  border-radius: 3px;
  position: relative;
}


/* picture view */
.large-photo {
  display: block;
  margin: auto;
  padding: 15px;
  width: 600px;
}

.large-photo figcaption {
  text-align: center;
}

.like-form {
  display: block;
}

.unlike-form {
  display: none;
}

.already-liked > .like-form {
  display: none;
}

.already-liked > .unlike-form {
  display: block;
}

/* USER SHOW PAGE */
.public-user-info {
  width: 500px;
  margin: auto;
}

.public-user-info img {
  display: block;
  margin: auto;
  padding: 10px;
}

.public-user-info h2 {
  text-align: center;
  font-size: 30px;
}



