/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESETS */
html, body, header, nav, section, main, div, h1, h2, h3, ul, li, p, a, figure, figcaption {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: 'Roboto', arial, sans-serif;
  background-color: rgb(229, 229, 229)
}

ul {
  list-style: none;
}

a:visited {
  color: inherit;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}


/* using this for all headings - may be dangerous */
h1 {
  font-size: 50px;
  text-align: center;
  padding: 15px;
}

/* BUTTON RESET */
button,
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea,
select {
 display: inline;
 -webkit-appearance: none;
 box-sizing: content-box;
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 width: auto;
 font: inherit;
 vertical-align: baseline;
 background: transparent;
 color: inherit;
}

button,
input[type="submit"] {
  cursor: pointer;
}

main {
  position: relative;
  max-width: 800px;
  margin: auto;
}

.avatar {
  border-radius: 50%;
}

/* NAV BAR */
nav {
  background: white;
  position: relative;
}

/* TOP NAV BAR */
.top-nav-container {
  background: white;
  /*max-width: 900px;*/
  margin: auto;
}

.top-nav-container .logo {
  float: left;
  padding: 0 0 0 20px;
}

.top-nav-container .logo a {
  text-decoration: none;
  color: rgb(200, 77, 53);
}



.top-nav-container .top-right-nav {
  float: right;
  color: rgb(127, 127, 127)
}

/* Notification dopdown */

.top-nav-container > ul > li > a:hover .badge {
  background: lightblue;
}

.top-nav-container .badge {
  background: lightgray;
  width: 15px;
  height: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

nav .notif-dropdown {
  position: absolute;
  display: none;
  border: 1px solid gray;
  border-radius: 2px;
  border-bottom: 0;
  width: 300px;
  right: 15px;
}


nav .notif-dropdown > li {
  padding: 5px;
  border-bottom: 1px solid gray;
  background: white;
}

nav .notif-dropdown > li:nth-child(even) {
  background: #ddd;
}

.top-nav-container > ul > li:hover .notif-dropdown {
  display: block;
}

/* Avatar and dropdown */

.nav-avatar {
  width: 50px;
  padding: 10px;
  cursor: pointer;
}

.user-dropdown .user-dropdown-items {
  display: none;
  position: absolute;
  right: 5px;
  border: 1px solid black;
  border-radius: 2px;
}

.user-dropdown-items > li {
  padding: 5px;
  text-align: right;
  background: white;
}

.user-dropdown-items > li a {
  text-decoration: none;
  padding: 0;
}
.user-dropdown-items > li a:hover {
  text-decoration: none;
}


.top-right-nav {
/*  margin: 0;*/
}

.top-right-nav > li {
  float: left;
}

.top-right-nav > li > a {
  display: block;
  text-decoration: none;
  color: #262626;
  padding: 20px;
}

.user-dropdown:hover .user-dropdown-items {
  display: block;
}

/*.top-nav-container .top-right-nav a:hover {
  text-decoration: underline;
}*/

/* BOTTOM NAV */

.bottom-nav-container {
  margin: auto;
  background: rgb(245, 245, 245);
  text-align: center;
}

.bottom-nav-container h1 {
  display: block;
  font-size: 20px;
  color: red;
  padding: 15px;
}

.bottom-nav-container a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: rgb(127, 127, 127);
}



.bottom-nav-container .middle-nav {
  display: inline-block;
  vertical-align: top;
  margin: auto;
}


.bottom-nav-container .middle-nav {
  margin: auto;
}
.bottom-nav-container .middle-nav li {
  float: left;
}


.bottom-nav-container > ul > li > a:hover {
  color: rgb(38, 38, 38);
}

/* FLASH */

.flash-container {
  position: relative;
  width: 500px;
  margin: auto;
  padding: 10px;
}

.flash {
  position: absolute;
  border-radius: 3px;
  width: 500px;
  text-align: center;
}

/* TODO give real colors */
.flash.flash-error {
  background: #e74c3c;
}

.flash.flash-success {
  background: #2ecc71;
}

/* FORMS */

/* general forms */

.forms {
  width: 274px;
  padding: 40px;
  background: #f7f7f7;
  margin: auto;
  border-radius: 5px;
}

.input input,
textarea,
select {
  border: 1px solid #D9D9D9;
  padding: 5px;
  background: white;
  margin: auto;
  border-radius: 2px;
  width: 264px;
/* better to change to 100% but then padding messes things up*/
}

.input label {
  display: block;
}


.input input:focus {
  border: 1px solid #4d90fe;
}

.input textarea:focus {
  border: 1px solid #4d90fe;
}

.input {
  margin-bottom: 10px;
}


.submit input {
  position: relative;
  display: block;
  background: #4d90fe;
  border: 1px solid #3079ed;
  border-radius: 3px;
  margin: auto;
  color: white;
  padding: 5px;
  box-shadow: 0 2px 2px 0 #3079dd;
}

.submit input:hover {
  background: #3079ed;
}
.submit input:active {
  background: #3079ed;
  top: 2px;
  box-shadow: none;
}

/* TODO make gray and change all states */
.submit .disabled {
  background: #3079ed;
  top: 2px;
  box-shadow: none;
  cursor: wait;
}

/* sign in form */
.sign-in-form {

}

.sign-in-form .submit input {
  width: 264px;
}


/* will replace with real one */
.google-login a {
  width: 200px;
  display: block;
  background: rgb(200, 77, 53);
  border: 1px solid darkred;
  border-radius: 2px;
  margin: 10px auto;
  color: white;
  padding: 5px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;

}

/* user form */

.user-form {

}

.user-form .avatar {
  display: block;
  margin: auto;
}

.user-form .submit input {
  width: 264px;
}

/* album form */
.album-form {

}

/* photo caption tags form */
.edit-photo-form {

}

.edit-photo-form img {
  display: block;
  margin: 10px auto;
  width: 150px;
  padding: 10px;
  background: white;
  border: 1px solid white;
  border-radius: 2px;

}

/* comments form */





/* ALBUMS INDEX VIEW */
.albums-index {
  width: 705px;
  margin: auto;
}

.album-tile {
  float: left;
  padding: 15px;
  border-radius: 3px;
  position: relative;
}

.album-thumb {
  position: relative;
  width: 205px;
  background: white;
  display: block;
  height: 205px;
  margin: auto;
  box-shadow: 0px 0px 2px 2px #ccc;
  z-index: 999;
}

.album-tile figcaption {
  font-size: 12px;
  position: absolute;
  background: white;
  width: 185px;
  height: 48px;
  padding: 10px;
  z-index: 1000;
  bottom: 15px;
  border-top: 1px solid #eee;
}

.album-tile figcaption .alb-title {
  font-size: 14px;
  font-weight: bold;
}

/* picture index view */

.pictures-index {
  width: 705px;
  margin: auto;
}

.photo-thumb {
  position: relative;
  width: 205px;
  background: white;
  display: block;
  height: 205px;
  margin: auto;
  box-shadow: 0px 0px 2px 2px #ccc;
}

.photo-tile {
  float: left;
  padding: 15px;
  border-radius: 3px;
  position: relative;
}


/* PHOTO VIEW */

.photo-container {
  width: 800px;
  margin: auto;

}

.photo-extras{
}

.large-photo {
  display: block;
  margin: 15px auto;
/*  height: 600px;*/
}

.large-photo img {
  display: block;
  margin: auto;
  padding: 15px;
/*  width: 670px;*/
  background: white;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 2px #ccc;
}

.large-photo figcaption {
  text-align: center;
}

.like-form {
  display: block;
}

.unlike-form {
  display: none;
}

.already-liked > .like-form {
  display: none;
}

.already-liked > .unlike-form {
  display: block;
}


/* tags */

.tags {
  width: 600px;
  text-align: center;
  margin: auto;
}
/* likes and views */

.likes-and-views {
  width: 100px;
  text-align: center;
  margin: auto;
}

/* comments */

.comments {
  background: #f7f7f7;
  border-radius: 3px;
  margin-bottom: 50px;
}

.comments h3 {
  text-align: center;
  font-size: 30px;
}

.new-comment  {
  width: 500px;
  margin: 10px auto;
  border-top: 1px solid #ccc;
  padding: 10px;
}



.comment {
  width: 500px;
  margin: 10px auto;
  border-top: 1px solid #ccc;
  padding: 10px;
}

.commenter {
  float: left;
  width: 200px;
  text-align: center;
}

.commenter .avatar {
  width: 50px;
  margin: auto;
  display: block;
}

/* USER SHOW PAGE */
.public-user-info {
  width: 500px;
  margin: auto;
}

.public-user-info img {
  display: block;
  margin: auto;
  padding: 10px;
}

.public-user-info h2 {
  text-align: center;
  font-size: 30px;
}