/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* RESETS */
html, body, header, nav, section, main, h1, h2, ul, li, p, a {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
}

body {
  font-family: sans-serif;
  background: #eee;
}

ul {
  list-style: none;
}

.group:after {
  display: block;
  content: "";
  clear: both;
}

h1 {
  font-size: 50px;
}

/* BUTTON RESET */
button,
input[type="submit"],
input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
 display: inline;
 -webkit-appearance: none;
 box-sizing: content-box;
 margin: 0;
 padding: 0;
 border: 0;
 outline: 0;
 width: auto;
 font: inherit;
 vertical-align: baseline;
 background: transparent;
 color: inherit;
 cursor: pointer;
}

main {
  max-width: 800px;
  margin: auto;
}

.avatar {
  border-radius: 50%;
}

/* NAV BAR */
nav {
  background: gray;
}

.nav-container {
  width: 800px;
  margin: auto;
}

.nav-container h1 {
  display: block;
  font-size: 20px;
  color: red;
  padding: 15px;
}

.nav-container a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: white;

}



.nav-container .left-nav {
  float: left;
}

.nav-container .left-nav li {
  float: left;
}

.nav-container .right-nav {
  float: right;
}

.nav-container .right-nav li {
  float: left;
}

.nav-container > ul > li > a:hover {
 background: black;
}

.nav-container > ul > li > a:hover .badge {
  background: red;
}

.nav-container .badge {
  background: black;
  width: 15px;
  height: 15px;
  font-size: 12px;
  font-weight: bold;
  text-align: center;
  display: inline-block;
  border-radius: 20px;
}

nav .dropdown {
  position: absolute;
  display: none;
}

nav .dropdown {
  border: 3px solid black;
  border-bottom: 0;
  width: 300px;
  margin-left: -3px;
}

nav .dropdown > li {
  padding: 5px;
  border-bottom: 3px solid black;
  background: white;
}

nav .dropdown > li:nth-child(even) {
  background: #ddd;
}

.nav-container > ul > li:hover .dropdown {
  display: block;
}



/* FORMS */

input[type="text"],
input[type="email"],
input[type="date"],
input[type="password"],
textarea {
  border: 1px solid black;
  padding: 5px;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
textarea:focus {
  border: 1px solid green;
}


/* picture view */
.large-photo {
  display: block;
  margin: auto;
  padding: 15px;
  width: 600px;
}

.large-photo figcaption {
  text-align: center;
}

