<h1><%= album.escape("title") %></h1>
<div class="album-info">
  <%= album.get("photos_count") %> photos
  Visibility: <%= album.get("visibility") %>
</div>


<% if Picscasa.helpers.canEdit(album) { %>
<ul class="album-settings">
  <% if(album.get("visibility") !== "private_album" ) { %>
    <li><a href="#">Share this album</li>
  <% } %>
  <li><a href="#">add photos</a></li>
  <li><a href="#">album settings</a></li>
</ul>
<% } %>



<!-- <%= render 'photos/pictures', photos: @album.photos %> -->