<h1>My Tags</h1>

<ul class="tags-index">
<% tags.forEach(function(tag) { %>
  <li>
    <span class="tag">
    <a href="#/tags/<%= tag.get("name") %>">
      <i class="fa fa-tags"></i> <%= tag.get("name") %>  (<%= tag.get("photo_count") %>)
    </a>
    <button data-id="<%= tag.id %>" class="delete delete-tag">&times;</button>
    </span>
    
    
  </li>
<% }) %>
</ul>